<div class="row">
    <div class="mb-3" style="height:150px; margin-top:50px" id="Loader">
        <div class="loader-wrapper d-flex justify-content-center align-items-center">
            <div class="loader">
                <div class="ball-grid-pulse">
                    <div style="background-color: rgb(120, 195, 251);"></div>
                    <div style="background-color: rgb(120, 195, 251);"></div>
                    <div style="background-color: rgb(120, 195, 251);"></div>
                    <div style="background-color: rgb(120, 195, 251);"></div>
                    <div style="background-color: rgb(120, 195, 251);"></div>
                    <div style="background-color: rgb(120, 195, 251);"></div>
                    <div style="background-color: rgb(120, 195, 251);"></div>
                    <div style="background-color: rgb(120, 195, 251);"></div>
                    <div style="background-color: rgb(120, 195, 251);"></div>
                </div>
            </div>
        </div>
    </div>
</div>


